@model FabStartAcademy.Models.ProgramsModel

@{
    ViewData["Title"] = Resources.FabStartAcademy.Programs;
}

<h1>@Resources.FabStartAcademy.Programs</h1>

<p>
    <a asp-action="@Actions.Program.Name">@Resources.FabStartAcademy.CreateNew</a>
</p>
<div >

    @for (int i = 0; i < Model.Programs.Count; i++)
    {
        if (i % 3 == 0)
        {
            Html.RenderPartial("ProgramItemRow", new ProgramItemRow {Start=i,End=(i+2> Model.Programs.Count-1? Model.Programs.Count-1:i+2),List=Model.Programs });
        }
    }

    @*@foreach (var item in Model.Programs)
    {
        
        Html.RenderPartial("ProgramItem", item);
    }*@
</div>
